body {
    display: flex;
    justify-content: center;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;    

    width: 1000px;

    border: 1px solid pink;
}

.logo {
    align-self:flex-end;

    margin-right: 81px;
    margin-top: 10px;
}

.line2 {
    display: flex;
    justify-content: center;   
    align-content: center; 
    align-items: center;

    width: 640px;    
    /*border: 1px solid red;*/
}

.arrow {
    background: radial-gradient(circle, #ffdb4a, #ffdb4a);

    border-radius: 50%;

    width: 100px;
}


.line2 :nth-child(2) > div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28pt;
    text-align: left;     
}

.videoline {
    display: flex;
    flex-direction: column;
    align-items: center;

    align-content: center;

    height: 361px;

    border: 1px solid red;

    background: url("../img/Video\ snapshot.png");
}

.videoline :nth-child(1) {
    /*position: absolute;*/

    display: flex;
    align-items: center;

    height: 48px;
    width: 640px;    

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 29.02pt;

    text-align: center;

    background: rgba(41,54,60, 0.7);
}

.playbtn {
    background: radial-gradient(circle, #ffdb4a, #ffdb4a);

    border-radius: 50%;

    width: 100px;
}

.prostotext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 47pt;

    text-align: center;
}