body {

    border: 1px solid pink;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;    

    max-width: 1020px;
	margin: auto;
   
}

.logo {
    /*align-self:flex-end;*/
    height: 100px;

    margin-right: -670px;
    margin-top: 10px;
}

.line2 {
    display: flex;
    justify-content: center;   
    align-content: center; 
    align-items: center;

    width: 930px;    
    /*border: 1px solid blue;*/

    margin-top: 12px;

    height: 403px;
}

.arrowleft {
    display: flex;
    align-items: center;

    background: radial-gradient(circle, #ffdb4a, #ffdb4a);
    border-radius: 50%;
    width: 60px;
    height: 60px;

    margin-top: 24px;
    margin-right: 11px;
    /*box-shadow: 0 5px 0 #3C93D5;*/

    /*border: 1px solid red;*/
}

.arrowright {
    display: flex;
    align-items: center;

    background: radial-gradient(circle, #ffdb4a, #ffdb4a);
    border-radius: 50%;
    width: 60px;
    height: 60px;

    margin-top: 22px;
    margin-right: 1px;

    /*border: 1px solid red;*/
}

.arrowleft > img {
    padding-top: 4px;
    padding-left: 18px;
}

.arrowright > img {
    padding-top: 0px;
    padding-left: 24px;
}

.middle2 {
    border: 1px solid red; 
    display: flex;
    flex-direction: column;
    align-items: center;      
}

.middle2 > div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27pt;
    text-align: left; 

    width: 660px;

    line-height: 120%;
    text-indent: -20px;

    margin-top: 11px;
    margin-left: 43px;

    padding-right: 8px;
    padding-top: 5px;
    
}

.middle2 > img {
    border: 1px solid black;
    margin-top: 33px;

    padding-top: 5px;
    padding-right: 44px;
    /*margin-left: -30px;*/
}




.videoline {
    display: flex;
    flex-direction: column;
    align-items: center;

    align-content: center;

    height: 361px;

    border: 1px solid red;

    background: url("../img/Video\ snapshot.png");
}

.videoline :nth-child(1) {
    /*position: absolute;*/

    display: flex;
    align-items: center;

    height: 48px;
    width: 640px;    

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 29.02pt;

    text-align: center;

    background: rgba(41,54,60, 0.7);
}

.playbtn {
    background: radial-gradient(circle, #ffdb4a, #ffdb4a);

    border-radius: 50%;

    width: 100px;
}

.prostotext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 47pt;

    text-align: center;
}