body {
    background: #CFD0CF;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    line-height: 47px;
    color: #434344;
    text-align: center;

    margin-top: 40px;
    margin-bottom: 40px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 120px;
    height: 120px;

    margin-right: 25px;
    margin-bottom: 25px;

    perspective: 600px;
    transform-style: preserve-3d;
}

.row {
    display: flex;
}

/**/
.celloff > .back, .celloff > .front  {
    backface-visibility: hidden;   
    transition: all 0.5s ease-in;
}

.cellon > .back {
    display: flex;
    font-size: 75px;

    transform: rotateY(0deg);
}

.cellon > .front {

    transform: rotateY(180deg);
}


/**/

/* рубашка */
.celloff {
    background: linear-gradient(to top right, #22AB93, #19668D);
    border: 5px solid white;
    border-radius: 9px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

}

/* значок */
.cellon {
    background: white;
    border: 5px solid white;
    border-radius: 9px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

    /*font-size: 75px;  */
}
*/
